{% extends "base.html" %}
{% from 'macros.html' import render_project_card %}
{% block title %}Project Page{% endblock %}
{% block content %}
<div class="container mt-4">
<p>Welcome to my Projects!!</p>

<div class="row">
        {% for project in projects %}
            <div class="col-md-4 mb-4">
                {# Use your macro here! #}
                {{ render_project_card(project) }}
            </div>
        {% endfor %}
    </div>
</div>


{#<table>#}
{#    <tr>#}
{#        <th>ID</th>#}
{#        <th>Title</th>#}
{#        <th>Description</th>#}
{#        <th>Tech Stack</th>#}
{#        <th>GitHub Link</th>#}
{##}
{#    </tr>#}
{#    <tr>#}
{#        {% for project in projects %}#}
{#            {% if project_thing == project_id %}#}
{#        <td><a href="{{ url_for('project', project_id=project.id) }}">{{ project.id }} View Details </a></td>#}
{#        <td>{{ project.title }}</td>#}
{#        <td>{{ project.description }}</td>#}
{#        <td>{{ project.tech}}</td>#}
{#        <td>{{ project.github_link }}</td>#}
{##}
{#    </tr>#}
{#{% endif %}#}
{#{% endfor %}#}

{#</table>#}



{% endblock %}